<div class="cadastro">
  <a class="mdl-button mdl-js-button mdl-button--colored" routerLink="/user/">Cadastrar Novo Usuário</a>
</div>
<hr>
<div class="content">    
    <loading-component [show]="loading"></loading-component>
  
  <input class="busca" type="text" name="filter" (keyup)="setFilterBy($event)" placeholder="Digite o nome que deseja encontrar..."/>

  <ul class="lista">
    <li *ngFor="let item of items | filter: filterBy | order: orderBy">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" routerLink="/user/{{ item.id }}">{{ item.name }}</a>
    </li>
  </ul>
</div>
